@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
body,
html {
    height: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
    z-index: 0 !important;
}

.rdrMonth {
    width: 100% !important;
}

.rdrCalendarWrapper {
    width: 100% !important;
    font-size: 16px !important;
}